body {
	font-family: "Raleway", sans-serif;
	background-image: url("Images/bglogin.jpg");
}

form {
	border: 3px; 
}

input[type=text], input[type=password] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-sizing: border-box;
	width: 250px;
}

button {
	font-family: "Raleway", sans-serif;
	background-color: #bd59d4;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 30%;
	align:center;
	border-radius: 10px;
}

button:hover {
	opacity: 0.8;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

#logindiv {
	background: #F3F2F2;
	width: 390px;
	border-radius: 10px;
	overflow: hidden;
	padding-bottom: 30px;
	padding-top: 80px;
}

#containermain {
	min-height: 90vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	z-index: 1;
	position: relative;
}

a {
	text-decoration: none;
}

#signup {
	color: black;
}

#login_user {
	color: white;
}